<div class="service-card">
  {% if include.icon %}
    <div class="service-card__icon">
      <i class="{{ include.icon }}"></i>
    </div>
  {% endif %}

  <h3 class="service-card__title">{{ include.title }}</h3>

  {% if include.tagline %}
    <p class="service-card__tagline">{{ include.tagline }}</p>
  {% endif %}

  <p class="service-card__description">{{ include.description }}</p>

  {% if include.link %}
    <a href="{{ include.link }}" class="service-card__link">Learn more</a>
  {% endif %}
</div>
